/* Global Settings */
*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  --font-family: "Roboto", sans-serif;
  --second-font-family: "Raleway", sans-serif;
  --text-color: #434455;
  --background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}
.page {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

.header {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header .container {
  display: flex;
}
/* Global link settings */
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
/* Global list settings */
.list {
  list-style: none;
}
/* Logotype */
.header > div > nav > a {
  font-family: var(--second-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header > div > nav > a > span {
  color: #2e2f42;
}
/* Navigation  and Contacts*/
.header .navigation .list .link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.header .contacts .list .link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation ul {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}
.contacts {
  font-style: normal;
}
.contacts .list {
  display: flex;
  gap: 40px;
}
.header > div > nav > ul > li > a {
  color: #2e2f42;
}

.header > div > address > ul > li > a {
  color: #434455;
}
.section-one {
  background-color: #2e2f42;
}

.header-one {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.section-one {
  padding: 188px 0;
}
.butt {
  font-family: var(--font-family);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
}

.butt:hover,
.butt:focus {
  background-color: #404bbf;
}
.section-two {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.section-two .container .list {
  display: flex;
  gap: 24px;
}
.title-item {
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-three {
  padding: 120px 0;
}
.section-three .container .list {
  display: flex;
  gap: 24px;
}
.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.teammates {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.teammates .container .list {
  display: flex;
  gap: 24px;
}
.team-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.team-list .item-area {
  padding: 32px 16px;
}
.team-list .title-item {
  margin-bottom: 8px;
  text-align: center;
}
.team-list .item-text {
  text-align: center;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer .link {
  font-family: var(--second-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer .link .log-span {
  color: #f4f4fd;
}
.footer-description {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: none;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  padding: 12px 24px;
}
.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
/* Portfolio */
.portfolio-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.section-portfolio .container .list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 72px;
  flex-wrap: wrap;
}
.section-portfolio .container .list li {
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  row-gap: 48px;
  
}
.portfolio-title:hover,
.portfolio-title:focus {
  color: #404bbf;
}
.portfolio-description {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
